language: java
jdk:
- openjdk14
sudo: true
install: true
script: mvn clean package -DskipTests=true
services:
- postgresql
before_script:
- psql -c 'create database forum;' -U postgres
notifications:
  email:
    recipients:
    - sergeykinn@mail.ru
    on_success: never
    on_failure: always
deploy:
  api_key:
    secure: EuLFe9+KNXasK/leP44XKQxEJPZ/pmP/GGXqB07vlQhTK8HZOx03r/pXU+qkhifusPZjNP9yKT2BuaavVgBPQoptgjKGPzIO3BaSSFhtn83FXJHrZsf8C85xOq4Z5dhjTiOsgr+/4Wa9YmiVUcLToR81xMKTV5lb5yMhbPhT/SqwTj76zgLjhdGkYBKGCsGsDxJJaEfmSX9aP7vyrl6IJcUqrCVClrS2FKzXCqRwH68NR9Jluo6pvLDDDgznZQZI68SB7QWCwK/kSJUcf3Fx3f+8BP1sWj6eQl30Ed3hH3mTixyk3SFlwODoPOuJ42JElnJV7j/fMhCXYuB8pQ00UbEjv1F2qcwaN3PaPmjIdzWW9LceiJNOXkJUUVOsxzzLapANIh7sfFnF8i7LXNDf/vPS9AKtqqk5KwA/Clqe4RSWl4B9ZwjPVXu7SWbLyAUrgZ9V7XsS1RT6JYPMJ0tcP2nf/+WZlYMhXylBcupbJ/b7x6+HvXUbm4c/wN8n1TGhv0vRXT5qnhFJEUiCRULlimHPWBclW0zqH/YvQ/qSkZMmSJwBFcpwNDLyy2cs3kF+5CeGHbQ62Af1ThPpYJRpUNHoG8i9jca7M5hCgzfci2djt2acmb9JvnW7I5HJmg/QJSO96R8U6uSmEwGA5cVj9BMXs7NNu7oBnTfHquv/6X4=
app: forum112233