language: java
jdk:
- openjdk14
sudo: true
install: true
script: mvn clean package -DskipTests=true
services:
- postgresql
before_script:
- psql -c 'create database forum;' -U postgres
notifications:
  email:
    recipients:
    - sergeykinn@mail.ru
    on_success: never
    on_failure: always
deploy:
  provider: heroku
  api_key: WooXoHjwO1WBdRzSdhoyPn2yogcjX1Iw15LtS3FSyoSu41oadsgnB/kwz5D4bXp73URNpEalozKNuMIPirjB5NlA5cfsy4d3KFQ4ahmksqKBUrdbGQwmLumYyKt32/CG/hcV/ZEDc2DJE4cmjC4ECe347GxceHUZcGeFc0I+RlTCsFPMrLvp/PW0xcA5ca4WGYLpJ0IuHNrVfXV7UqXFfbaBNknyTW7hXE8IgZVhB/H0m2YheYByoE0+MT7SC9lz+E07qaa4hXJS509EgWhiBMKqXhYFqUz/X7PODJBoGhcGfNBybMth4JcZkGmMr9gcjlSV+HA9SCvcYVo7nBDl0w+5fKYqI1EqwiM1LWyRpzo5Ip5Rw+Oya+yV6ENi2AgGt/vFYCc5MDcb4cyB9/7MuM8AoQlB8ei+utFETSLZ//xBNMyhb/UwBb8yBH5HcbJshTKcJoqMzheo+bCrHqH9WEF1jYTmHHaAzVpgMgDo3THXtEiWnEfNySm3O61ImYbjw8HVAFF81uLTgn21BVDqj7ZNTu+rf92lXs/tN4Ity5wnm24Ko9Rrz8m8ITi+9OWGUgKwUYoLctjIPyHGhr/XpnPhMe3GwyLrP55FA6di+Zvo9BXFcF+RJ5IK+IbPyaHL0+TPYGgpsOEE1UYYKDwCzvBYaVfZGc15x+u+KItxfSI=
  app: forum112233
